In [2]:
from collections import namedtuple
import math
import os
import sys
from subprocess import Popen, PIPE
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
def run_solution(init_temp, alpha):
    bin_path = './main.out'
    process = Popen([bin_path, 'tsp_51_1', str(init_temp), str(alpha)],
                    stdout=PIPE, universal_newlines=True)
    (stdout, stderr) = process.communicate()
    return float(stdout.strip())

In [5]:
temps = np.arange(50, 120, 10)
alphas = np.linspace(0.7, 1, 20)

In [6]:
values = []
for t in temps:
    for a in alphas:
        values.append(run_solution(t, a))

In [7]:
x = []
y = []
z = values[:]

In [8]:
for t in temps:
    for a in alphas:
        x.append(t)
        y.append(a)

In [9]:
df = pd.DataFrame(np.array([x, y, z]).T, columns=['temp', 'alpha', 'value'])
df

      temp     alpha    value
0     50.0  0.700000  466.137
1     50.0  0.715789  484.201
2     50.0  0.731579  450.316
3     50.0  0.747368  446.777
4     50.0  0.763158  455.881
..     ...       ...      ...
135  110.0  0.936842  456.136
136  110.0  0.952632  467.041
137  110.0  0.968421  459.386
138  110.0  0.984211  466.233
139  110.0  1.000000  581.448

[140 rows x 3 columns]

In [10]:
df[df.value == df.value.min()]

    temp     alpha    value
16  50.0  0.952632  441.065